@model LoginViewModel
@{
    ViewBag.Title = "User Login";
}

<form method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fas fa-paper-plane text-primary"></span>
            </div>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>
    <div class="input-group mb-1">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-key text-danger"></i>
            </div>
        </div>
        <input asp-for="Password" class="form-control" placeholder="Password" />
    </div>
    <div class="input-group mb-1">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary btn-block form-control">
            <i class="fas fa-sign-in-alt"></i>&nbsp;Login
        </button>
    </div>
    
</form>
<div class="mt-2">
    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
        <div>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="btn btn-outline-danger btn-block form-control" name="provider" 
                        title="@provider.DisplayName" value="@provider.Name">
                    <i class="fas fa-share-alt-square"></i>&nbsp;@provider.DisplayName
                </button>
            }
        </div>
    </form>
</div>
