@model RegisterViewModel
@{
    ViewBag.Title = "User Registration";
}

<form method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fas fa-paper-plane text-primary"></span>
            </div>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-key text-danger"></i>
            </div>
        </div>
        <input asp-for="Password" class="form-control" placeholder="Password" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-key text-info"></i>
            </div>
        </div>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
    </div>
    <div>
        <button type="submit" class="btn btn-outline-info btn-block form-control">
            <i class="fas fa-file-signature"></i>&nbsp;Register
        </button>
    </div>
</form>
