@model EmployeeCreateViewModel
@{
    ViewBag.Title = "Create Employee";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="mt-2">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fas fa-file-signature text-info"></span>
            </div>
        </div>
        <input asp-for="Name" class="form-control" placeholder="Name" />
    </div>
    <div class="input-group mb-1">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fas fa-paper-plane text-primary"></span>
            </div>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>
    <div class="input-group mb-1">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="far fa-building text-success"></span>
            </div>
        </div>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control">
            <option value="">-Please Select Department-</option>
        </select>
    </div>
    <div class="input-group mb-1">
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fas fa-cloud-upload-alt text-info"></span>
            </div>
        </div>
        <div class="custom-file">
            <input asp-for="Photo" class="custom-file-input" multiple/>
            <label class="custom-file-label">Choose file</label>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <button type="submit" class="btn btn-outline-success btn-block form-control">
            <i class="fas fa-plus-circle"></i>&nbsp;Create
        </button>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change",
                    function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
            })
        </script>
    }
</form>