@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-2 mb-2">
    <h4>404 Not found Error: </h4>
    <hr />
    <h5>Employee with Id = @Model cannot be found</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-block btn-outline-success">
    <i class="fas fa-users"></i>&nbsp;Return list of all employees
</a>