@{
    ViewBag.Title = "Not Found";
}

<h1 class="alert alert-danger mt-2 mb-2">@ViewBag.ErrorMessage</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-block">
    <i class="fas fa-tachometer-alt"></i>&nbsp;Click here to navigate home page
</a>